footer{
    .contenedor{
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
    .derechos{
        font-family: 'IBM Plex Mono', monospace;
    }
    .redes{
        font-family: 'font_awesome_5_brands' ;
        font-family:'IBM Plex Mono', monospace;
        ul{
            list-style-type: none;
            display: flex;    
            margin: 0;
            padding: 0;
            li{
                cursor: pointer;
               margin-left: 36px;
               a{
                   font-size: 20px;
                   text-decoration: none;
                   color: black;
               }
            }
        }
    }
}
}
@media(max-width:500px){
    footer{
        max-width: 100%;
        .contenedor{
            margin: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        .derechos{
            text-align: center;
            font-family: 'IBM Plex Mono', monospace;
            width: 100%;
            font-size: 14px;
            margin-top: 25px;
            margin-bottom: 20px;
        }
        .redes{
            font-family: 'font_awesome_5_brands' ;
            font-family:'IBM Plex Mono', monospace;

            ul{
                width: 100%;
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                margin: 0;
                padding: 0px;
                li{
                   margin-left: 0px;
                   a{
                       font-size: 16px;
                   }
                }
            }
        }
        }
    }
}