@import url(//db.onlinewebfonts.com/c/2547970600ac97f5d9bd0ebcc1f2dd9d?family=Font+Awesome+5+Brands);
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=IBM+Plex+Sans:wght@300;400&display=swap");
header {
  height: 60px;
  grid-area: myheder; }

.inicio {
  height: 370px;
  grid-area: myinicio; }

.episodios {
  position: relative;
  height: 1040px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  grid-area: myepisodios; }
  .episodios .av {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vw; }
  .episodios .ar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vw; }

.donde {
  position: relative;
  height: 600px;
  grid-area: mydonde; }

.invitados {
  height: 950px;
  grid-area: myinvitados; }

.temas {
  position: relative;
  top: 15%;
  height: 420px;
  grid-area: mytemas; }

.novedades {
  position: relative;
  height: 520px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  grid-area: mynovedades; }
  .novedades .ar2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 7vw; }

footer {
  height: 100px;
  grid-area: myfooter; }

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "myheder" "myinicio" "myepisodios" "mydonde" "myinvitados" "mytemas" "mynovedades" "myfooter"; }

@media (max-width: 800px) {
  .donde {
    height: 850px;
    grid-area: mydonde; } }
@media (max-width: 500px) {
  header {
    height: 40px;
    grid-area: myheder; }

  .inicio {
    height: 300px;
    grid-area: myinicio; }

  .episodios {
    position: relative;
    height: 1200px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    grid-area: myepisodios; }
    .episodios .av {
      position: absolute;
      bottom: 0;
      height: 10vw; }
    .episodios .ar {
      position: absolute;
      top: 0;
      height: 10vw; }

  .donde {
    height: 850px;
    grid-area: mydonde; }

  .invitados {
    height: 1560px;
    grid-area: myinvitados; }

  .temas {
    top: 0%;
    height: 920px;
    grid-area: mytemas; }

  .novedades {
    position: relative;
    height: 340px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    grid-area: mynovedades; }
    .novedades .ar2 {
      position: absolute;
      top: 0;
      height: 15vw; }

  footer {
    height: 120px;
    grid-area: myfooter; } }
header {
  max-width: 100%; }
  header .arriba {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .arriba .menunavegation_boton {
      visibility: hidden; }
    header .arriba .logo {
      height: 36px;
      width: 36px;
      margin-top: 12px;
      margin-left: 4%; }
    header .arriba #redirec {
      display: none; }
    header .arriba .lista {
      margin-right: 12%;
      margin-top: 23px;
      list-style-type: none;
      display: flex;
      justify-content: space-between; }
      header .arriba .lista li {
        margin-right: 10%; }
        header .arriba .lista li :hover {
          color: #00F3BB;
          text-decoration: line-through; }
        header .arriba .lista li :active {
          text-decoration: line-through; }
        header .arriba .lista li a {
          text-decoration: none;
          cursor: pointer;
          font-family: 'IBM Plex Mono', monospace;
          color: black;
          font-size: 18px; }

@media (max-width: 800px) {
  header .arriba .menunavegation_boton {
    margin-top: 15px;
    margin-right: 15px;
    visibility: visible;
    float: right;
    border: none;
    background-color: transparent;
    position: relative;
    outline: none;
    font-size: 17px; }
  header .arriba .menu_desactive {
    display: none; }
  header .arriba #redirec:checked + .menunavegation_boton label .menu_active {
    display: none; }
  header .arriba #redirec:checked + .menunavegation_boton label .menu_desactive {
    display: inline; }
  header .arriba #redirec:checked + .menunavegation_boton + .lista {
    visibility: visible; }
  header .arriba #redirec {
    display: none; }
  header .arriba .lista {
    background-color: blue;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 350px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    margin-top: 50px;
    float: left;
    list-style-type: none;
    display: flex;
    flex-direction: column; }
    header .arriba .lista li {
      padding: 30px; }
      header .arriba .lista li :hover {
        color: #00F3BB;
        text-decoration: line-through; }
      header .arriba .lista li :active {
        text-decoration: line-through; }
      header .arriba .lista li a {
        text-decoration: none;
        cursor: pointer;
        font-family: 'IBM Plex Mono200', monospace;
        color: white;
        font-size: 16px; } }
@media (max-width: 500px) {
  header {
    max-width: 100%; }
    header .arriba {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header .arriba .logo {
        height: 36px;
        width: 36px;
        margin-top: 12px;
        margin-left: 10px; }
      header .arriba .menunavegation_boton {
        margin-top: 15px;
        margin-right: 15px;
        visibility: visible;
        float: right;
        border: none;
        background-color: transparent;
        position: relative;
        outline: none;
        font-size: 17px; }
      header .arriba .menu_desactive {
        display: none; }
      header .arriba #redirec:checked + .menunavegation_boton label .menu_active {
        display: none; }
      header .arriba #redirec:checked + .menunavegation_boton label .menu_desactive {
        display: inline; }
      header .arriba #redirec:checked + .menunavegation_boton + .lista {
        visibility: visible; }
      header .arriba #redirec {
        display: none; }
      header .arriba .lista {
        background-color: blue;
        left: 0;
        visibility: hidden;
        width: 100%;
        height: 225px;
        padding: 0px;
        margin: 0px;
        position: absolute;
        margin-top: 50px;
        float: left;
        list-style-type: none;
        display: flex;
        flex-direction: column; }
        header .arriba .lista li {
          padding: 17px; }
          header .arriba .lista li :hover {
            color: #00F3BB;
            text-decoration: line-through; }
          header .arriba .lista li :active {
            text-decoration: line-through; }
          header .arriba .lista li a {
            text-decoration: none;
            cursor: pointer;
            font-family: 'IBM Plex Mono200', monospace;
            color: white;
            font-size: 16px; } }
.inicio .presentacion {
  margin-left: 7%;
  margin-top: 4%; }
.inicio .titulo {
  max-width: 100%;
  font-size: 60px;
  font-family: 'IBM Plex Sans', sans-serif; }
  .inicio .titulo .azul {
    color: blue;
    display: contents; }
.inicio .parrafo {
  margin-top: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 19px;
  width: 60%; }
.inicio .conocer :hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
.inicio .conocer button {
  cursor: pointer;
  margin-top: 70px;
  width: 250px;
  height: 56px;
  background-color: #00F3BB;
  color: black;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  top: 25px;
  font-size: 20px;
  border: none; }

@media (max-width: 500px) {
  .inicio {
    max-width: 100%; }
    .inicio .presentacion {
      margin-left: 16px;
      margin-top: 25px; }
    .inicio .titulo {
      font-size: 38px;
      font-family: 'IBM Plex Sans', sans-serif;
      width: 80%; }
    .inicio .parrafo {
      margin-top: 16px;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 15px;
      width: 95%; }
    .inicio .conocer :hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
    .inicio .conocer button {
      margin-top: 36px;
      width: 95%;
      height: 44px;
      background-color: #00F3BB;
      color: black;
      text-decoration: none;
      font-family: 'IBM Plex Mono', monospace;
      top: 25px;
      font-size: 20px;
      border: none; } }
.episodios .titu {
  font-size: 50px;
  color: white;
  margin-left: 9%;
  margin-top: 180px;
  font-family: 'IBM Plex Sans', sans-serif; }
.episodios .reproduccion {
  grid-gap: 2px;
  position: relative;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 40px;
  grid-gap: 20px;
  display: grid;
  grid-template-areas: "ep1 ep2" "ep3 ep4"; }
  .episodios .reproduccion .r1, .episodios .reproduccion .r2, .episodios .reproduccion .r3, .episodios .reproduccion .r4 {
    height: 290px;
    width: 100%;
    margin: 1px;
    border: none;
    background-color: transparent; }
  .episodios .reproduccion .r1 {
    grid-area: ep1; }
  .episodios .reproduccion .r2 {
    grid-area: ep2; }
  .episodios .reproduccion .r3 {
    grid-area: ep3; }
  .episodios .reproduccion .r4 {
    grid-area: ep4; }
  .episodios .reproduccion .r1-sm, .episodios .reproduccion .r2-sm, .episodios .reproduccion .r3-sm, .episodios .reproduccion .r4-sm {
    display: none;
    border: none;
    background-color: transparent; }

@media (max-width: 500px) {
  .episodios {
    max-width: 100%; }
    .episodios .titu {
      font-size: 36px;
      color: white;
      margin-left: 16px;
      margin-top: 64px;
      font-family: 'IBM Plex Sans', sans-serif; }
    .episodios .reproduccion {
      grid-gap: 0px;
      margin: 0px;
      display: flex;
      flex-direction: column; }
      .episodios .reproduccion .r1, .episodios .reproduccion .r2, .episodios .reproduccion .r3, .episodios .reproduccion .r4 {
        display: none; }
      .episodios .reproduccion .r1-sm, .episodios .reproduccion .r2-sm, .episodios .reproduccion .r3-sm, .episodios .reproduccion .r4-sm {
        margin: 8px;
        height: 240px;
        display: inline; } }
.donde {
  display: grid;
  position: relative;
  grid-template-areas: 'celular textos'; }
  .donde .celu {
    position: relative;
    height: 100%;
    margin-left: 140px;
    top: -120px;
    grid-area: celular; }
  .donde .texto {
    padding-left: 20%;
    margin-right: 4%;
    grid-area: textos; }
    .donde .texto .h1 {
      font-family: 'IBM Plex Sans 300', sans-serif;
      font-size: 40px; }
    .donde .texto .text {
      font-size: 18px;
      margin-top: 25px;
      font-family: 'IBM Plex Mono', monospace; }

@media (max-width: 800px) {
  .donde {
    display: inline;
    position: relative; }
    .donde .celu {
      padding-left: 0%;
      position: relative;
      left: 20%;
      align-items: center;
      height: 650px;
      width: 60%;
      margin-left: 0%;
      top: -70px; }
    .donde .texto {
      padding: 0;
      margin-left: 5%;
      margin-right: 5%;
      grid-area: textos; }
      .donde .texto .h1 {
        font-family: 'IBM Plex Sans 300', sans-serif;
        font-size: 40px; }
      .donde .texto .text {
        font-size: 18px;
        margin-top: 25px;
        font-family: 'IBM Plex Mono', monospace; } }
@media (max-width: 500px) {
  .donde {
    display: inline;
    position: relative; }
    .donde .celu {
      left: 0;
      padding-left: 0%;
      position: relative;
      align-items: center;
      height: 510px;
      width: 100%;
      margin-left: 0%;
      top: -70px; }
    .donde .texto {
      padding-left: 0%;
      position: relative;
      top: -40px;
      margin: 14px;
      width: 90%; }
      .donde .texto .h1 {
        font-family: 'IBM Plex Sans 300', sans-serif;
        font-size: 36px; }
      .donde .texto .text {
        font-size: 14px;
        margin-bottom: 5px;
        font-family: 'IBM Plex Mono', monospace; } }
.invitados .h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 50px;
  margin-left: 9%;
  margin-top: 70px; }
.invitados .imagenes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 90%;
  grid-template-areas: 'i1 i2 i3' 'i4 i5 i6'; }
  .invitados .imagenes .i1, .invitados .imagenes .i2, .invitados .imagenes .i3, .invitados .imagenes .i4, .invitados .imagenes .i5, .invitados .imagenes .i6 {
    width: 33.3%;
    height: 50%; }
  .invitados .imagenes .i1 {
    grid-area: i1; }
  .invitados .imagenes .i2 {
    grid-area: i2; }
  .invitados .imagenes .i3 {
    grid-area: i3; }
  .invitados .imagenes .i4 {
    grid-area: i4; }
  .invitados .imagenes .i5 {
    grid-area: i5; }
  .invitados .imagenes .i6 {
    grid-area: i6; }

@media (max-width: 500px) {
  .invitados {
    max-width: 100%; }
    .invitados .h1 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 36px;
      margin: 16px; }
    .invitados .imagenes {
      margin: 0px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column; }
      .invitados .imagenes .i1, .invitados .imagenes .i2, .invitados .imagenes .i3, .invitados .imagenes .i4, .invitados .imagenes .i5, .invitados .imagenes .i6 {
        height: 240px;
        width: 100%; } }
.temas .h1 {
  font-family: 'IBM Plex Sans 300', sans-serif;
  font-size: 40px;
  margin-left: 10%; }
.temas .contenedor {
  width: 80%;
  grid-gap: 10%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas: 'myim1 myim2 myim3 myim4' 'mytext1 mytext2 mytext3 mytext4'; }
  .temas .contenedor .im1, .temas .contenedor .im2, .temas .contenedor .im3, .temas .contenedor .im4 {
    width: 100%;
    height: 120px; }
    .temas .contenedor .im1 .img1, .temas .contenedor .im1 .img2, .temas .contenedor .im1 .img3, .temas .contenedor .im1 .img4, .temas .contenedor .im2 .img1, .temas .contenedor .im2 .img2, .temas .contenedor .im2 .img3, .temas .contenedor .im2 .img4, .temas .contenedor .im3 .img1, .temas .contenedor .im3 .img2, .temas .contenedor .im3 .img3, .temas .contenedor .im3 .img4, .temas .contenedor .im4 .img1, .temas .contenedor .im4 .img2, .temas .contenedor .im4 .img3, .temas .contenedor .im4 .img4 {
      display: block;
      margin: auto;
      margin-top: 13px; }
  .temas .contenedor .im1 {
    grid-area: myim1; }
  .temas .contenedor .im2 {
    grid-area: myim2; }
  .temas .contenedor .im3 {
    grid-area: myim3; }
  .temas .contenedor .im4 {
    grid-area: myim4; }
  .temas .contenedor .tx1, .temas .contenedor .tx2, .temas .contenedor .tx3, .temas .contenedor .tx4 {
    top: -10px;
    position: relative;
    display: flex;
    margin: auto;
    text-align: center;
    color: black;
    width: 85%;
    font-family: 'IBM Plex Sans 300', sans-serif;
    font-size: 22px; }
  .temas .contenedor .tx1 {
    grid-area: mytext1; }
  .temas .contenedor .tx2 {
    grid-area: mytext2; }
  .temas .contenedor .tx3 {
    grid-area: mytext3; }
  .temas .contenedor .tx4 {
    grid-area: mytext4; }

@media (max-width: 500px) {
  .temas {
    max-width: 100%; }
    .temas .h1 {
      font-family: 'IBM Plex Sans 300', sans-serif;
      font-size: 36px;
      margin-left: 16px;
      margin-top: 48px; }
    .temas .contenedor {
      width: 100%;
      grid-gap: 0px;
      max-width: 100%;
      margin: 0px;
      grid-template-areas: 'myim1' 'mytext1' 'myim2' 'mytext2' 'myim3' 'mytext3' 'myim4' 'mytext4'; }
      .temas .contenedor .im1, .temas .contenedor .im2, .temas .contenedor .im3, .temas .contenedor .im4 {
        margin-top: 24px;
        width: 100%;
        height: 120px; }
        .temas .contenedor .im1 .img1, .temas .contenedor .im1 .img2, .temas .contenedor .im1 .img3, .temas .contenedor .im1 .img4, .temas .contenedor .im2 .img1, .temas .contenedor .im2 .img2, .temas .contenedor .im2 .img3, .temas .contenedor .im2 .img4, .temas .contenedor .im3 .img1, .temas .contenedor .im3 .img2, .temas .contenedor .im3 .img3, .temas .contenedor .im3 .img4, .temas .contenedor .im4 .img1, .temas .contenedor .im4 .img2, .temas .contenedor .im4 .img3, .temas .contenedor .im4 .img4 {
          display: block;
          margin: auto;
          margin-top: 12px; }
      .temas .contenedor .im1 {
        grid-area: myim1; }
      .temas .contenedor .im2 {
        grid-area: myim2; }
      .temas .contenedor .im3 {
        grid-area: myim3; }
      .temas .contenedor .im4 {
        grid-area: myim4; }
      .temas .contenedor .tx1, .temas .contenedor .tx2, .temas .contenedor .tx3, .temas .contenedor .tx4 {
        top: 0px;
        letter-spacing: 0;
        text-align: center;
        color: black;
        width: 60%;
        font-family: 'IBM Plex Sans 300', sans-serif;
        font-size: 24px; }
      .temas .contenedor .tx1 {
        grid-area: mytext1; }
      .temas .contenedor .tx2 {
        grid-area: mytext2; }
      .temas .contenedor .tx3 {
        grid-area: mytext3; }
      .temas .contenedor .tx4 {
        grid-area: mytext4; } }
.novedades .text {
  text-align: center;
  margin-top: 200px;
  font-size: 45px;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif; }
.novedades .escuchar {
  width: 255px;
  margin-left: auto;
  margin-right: auto; }
  .novedades .escuchar :hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
  .novedades .escuchar button {
    cursor: pointer;
    position: relative;
    margin-top: 40px;
    width: 255px;
    height: 56px;
    background-color: #00F3BB;
    color: black;
    text-decoration: none;
    font-family: 'IBM Plex Mono 300', monospace;
    top: 25px;
    font-size: 20px;
    border: none; }

@media (max-width: 500px) {
  .novedades {
    max-width: 100%; }
    .novedades .text {
      padding: 0px;
      text-align: center;
      margin-top: 84px;
      margin-left: 0px;
      font-size: 36px;
      color: white;
      font-family: 'IBM Plex Sans 300', sans-serif; }
    .novedades .escuchar :hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
    .novedades .escuchar button {
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 0vw;
      width: 92%;
      height: 52px;
      background-color: #00F3BB;
      color: black;
      text-decoration: none;
      font-family: 'IBM Plex Mono 300', monospace;
      top: 25px;
      font-size: 20px;
      border: none; } }
footer .contenedor {
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 43px;
  display: flex;
  justify-content: space-between; }
  footer .contenedor .derechos {
    font-family: 'IBM Plex Mono', monospace; }
  footer .contenedor .redes {
    font-family: "font_awesome_5_brands";
    font-family: 'IBM Plex Mono', monospace; }
    footer .contenedor .redes ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0; }
      footer .contenedor .redes ul li {
        cursor: pointer;
        margin-left: 36px; }
        footer .contenedor .redes ul li a {
          font-size: 20px;
          text-decoration: none;
          color: black; }

@media (max-width: 500px) {
  footer {
    max-width: 100%; }
    footer .contenedor {
      margin: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      footer .contenedor .derechos {
        text-align: center;
        font-family: 'IBM Plex Mono', monospace;
        width: 100%;
        font-size: 14px;
        margin-top: 25px;
        margin-bottom: 20px; }
      footer .contenedor .redes {
        font-family: "font_awesome_5_brands";
        font-family: 'IBM Plex Mono', monospace; }
        footer .contenedor .redes ul {
          width: 100%;
          list-style-type: none;
          display: flex;
          justify-content: space-around;
          margin: 0;
          padding: 0px; }
          footer .contenedor .redes ul li {
            margin-left: 0px; }
            footer .contenedor .redes ul li a {
              font-size: 16px; } }

/*# sourceMappingURL=mein.css.map */
